In [2]:
import pandas as pd

In [3]:
items = {'KW100121': {'keuze formule': '1',
  'breedte': '2',
  'cc': '1',
  'cv': '1',
  'cd': '1,1',
  'coefficient a': '0',
  'coefficient b': '0'},
'KW100111': {'coefficient a': '22,3',
  'coefficient b': '0,4',
  'tastpunt': '-5',
  'vulpunt': '-4',
  'max frequentie': '50'}
}

In [9]:
path_out = r"D:\jupyter notebooks\spelen/test_dict_to_df.csv"
df = pd.DataFrame.from_dict(items).T

In [11]:
df.reset_index()

,index,breedte,cc,cd,coefficient a,coefficient b,cv,keuze formule,max frequentie,tastpunt,vulpunt
0,KW100121,2,1,"1,1",0,0,1,1,NaN,NaN,NaN
1,KW100111,NaN,NaN,NaN,"22,3","0,4",NaN,NaN,50,-5,-4

In [12]:
df.to_csv(path_out, index_label='location')

In [18]:
z = "22,3"

In [19]:
float(z.replace(',','.'))

22.3