In [3]:
from hkvfewspy.io.fewspi import pi
from datetime import datetime

In [4]:
pi.setClient(wsdl = 'http://oms-waddenzee.nl:8081/FewsPiService/fewspiservice?wsdl')

In [7]:
filters = pi.getFilters()

In [27]:
# select filter
filterId = filters.f_werk_1['id']
print(filterId)

f_werk.1

In [28]:
# select location
locations = pi.getLocations(filterId=filterId, setFormat='gdf')
location = locations.loc[locations['locationId'] == 'bv.1.7.2.3.2']
locationId = location['locationId'][0]
print(locationId)

bv.1.7.2.3.2

In [30]:
# select parameter
parameters = pi.getParameters(filterId)
parameterId = parameters.k_m3_gebaggerd_vdlee['id']
print(parameterId)

k.m3.gebaggerd.vdlee

In [32]:
# set start and end date
startTime = datetime(2017,12,20)
endTime =  datetime(2018,7,26)

In [135]:
pi.getTimeZoneId()

'GMT'

In [221]:
# dictionary to query
params = dict(
    filterId = filterId,
    moduleInstanceIds=[],
    parameterIds=[parameterId],
    locationIds=[locationId],
    startTime=startTime,
    endTime=endTime,
    clientTimeZone = 'Etc/GMT-1',# 'Europe/Amsterdam', # fewspi is stored in GMT(+0)
    forecastSearchCount=1,
    convertDatum='false',
    useDisplayUnits='false',
    showThresholds='true',
    omitMissing='true',
    onlyHeaders='false',
    onlyManualEdits='false',
    showStatistics='false',
    ensembleId='',
    importFromExternalDataSource='false',
    showEnsembleMemberIds='false',
    version='1.22'
)

In [222]:
df, entry = pi.getTimeSeries(queryParameters=params, setFormat='df')

warning: 'header' has no attribute 'qualifierId'

In [223]:
df.head()

,,,,,,,flag,value
date,moduleId,qualifierId,parameterId,units,locationId,stationName,,
2018-01-19 00:00:00+01:00,pr.Reizen.vdLee.baggeracties,,k.m3.gebaggerd.vdlee,m3,bv.1.7.2.3.2,Blauwe Slenk,0.0,928.03
2018-01-20 00:00:00+01:00,pr.Reizen.vdLee.baggeracties,,k.m3.gebaggerd.vdlee,m3,bv.1.7.2.3.2,Blauwe Slenk,0.0,2301.13
2018-01-24 00:00:00+01:00,pr.Reizen.vdLee.baggeracties,,k.m3.gebaggerd.vdlee,m3,bv.1.7.2.3.2,Blauwe Slenk,0.0,3943.18
2018-02-05 00:00:00+01:00,pr.Reizen.vdLee.baggeracties,,k.m3.gebaggerd.vdlee,m3,bv.1.7.2.3.2,Blauwe Slenk,0.0,1212.12
2018-02-09 00:00:00+01:00,pr.Reizen.vdLee.baggeracties,,k.m3.gebaggerd.vdlee,m3,bv.1.7.2.3.2,Blauwe Slenk,0.0,2804.92

In [224]:
df_format = df.reset_index()[['date','value']]

In [225]:
formatted_df = df_format.loc[:, 'date'].astype(datetime)
#formatted_df.values

In [226]:
df_format.loc[:,'date'] = formatted_df.values

In [227]:
df_format.date

0    2018-01-19 00:00:00+01:00
1    2018-01-20 00:00:00+01:00
2    2018-01-24 00:00:00+01:00
3    2018-02-05 00:00:00+01:00
4    2018-02-09 00:00:00+01:00
5    2018-02-13 00:00:00+01:00
6    2018-02-23 00:00:00+01:00
7    2018-03-01 00:00:00+01:00
8    2018-03-08 00:00:00+01:00
9    2018-03-12 00:00:00+01:00
10   2018-03-13 00:00:00+01:00
11   2018-03-14 00:00:00+01:00
12   2018-03-16 00:00:00+01:00
13   2018-03-21 00:00:00+01:00
14   2018-03-22 00:00:00+01:00
15   2018-03-23 00:00:00+01:00
16   2018-03-26 00:00:00+01:00
17   2018-03-27 00:00:00+01:00
18   2018-03-28 00:00:00+01:00
19   2018-03-29 00:00:00+01:00
20   2018-03-30 00:00:00+01:00
21   2018-04-03 00:00:00+01:00
22   2018-04-04 00:00:00+01:00
23   2018-04-05 00:00:00+01:00
24   2018-04-06 00:00:00+01:00
Name: date, dtype: datetime64[ns, Etc/GMT-1]