In [1]:
import hkvsobekpy as sobekpy

In [2]:
bui_file = r"T:\2Nicole\NHV middag\TBK_kal.lit\FIXED\05mmdag.BUI"
his_file = r"T:\2Nicole\NHV middag\TBK_kal.lit\10\CALCPNT.HIS"

In [3]:
his_object = sobekpy.read_his.ReadMetadata(his_file)

In [4]:
df_his = his_object.DataFrame()

In [5]:
# blijkbaar maar 1 tijdstap
df_his.head()

           Free board mean(m)                                                  \
                              1        10       100 1000      1001 1002  1003
2001-09-15             0.799999  0.801098  0.799999  0.8  2.380001  0.8  1.16

                             ...     Waterlevel mean (m AD)                 \
           1004 1005 1006    ...             sto_AE84920011 sto_AE84920012
2001-09-15  0.8  0.8  0.8    ...                       4.99           4.95

                                                                        \
           sto_AE84920013 sto_AE84920014 sto_AE84930001 sto_AE84930002
2001-09-15            4.6            4.5            4.3           4.55


           sto_AE84930003 sto_AE84930004 sto_AE84930005         t1
2001-09-15            4.4            4.3           4.25  19.700001

[1 rows x 63792 columns]

In [6]:
df_bui = sobekpy.read_bui(bui_file)

In [7]:
df_bui.head()

            Station1
2000-01-01       0.5
2000-01-02       0.5
2000-01-03       0.5
2000-01-04       0.5
2000-01-05       0.5

In [8]:
new_bui_file = r"T:\2Nicole\NHV middag\write_bui.BUI"
sobekpy.write_bui(df_bui, new_bui_file)

In [9]:
df_bui_new = sobekpy.read_bui(new_bui_file)

In [10]:
df_bui_new.head()

            Station1
2000-01-01       0.5
2000-01-02       0.5
2000-01-03       0.5
2000-01-04       0.5
2000-01-05       0.5