In [1]:
import geopandas as gpd

In [2]:
new_path = r'D:\FEWSProjecten\OmsWaddenzee\trunk\fews\Config\MapLayerFiles\Baggervakken\Baggervakken_20180921.shp'
df_bgv = gpd.read_file(new_path)
df_bgv.head()

,ACTIVITEIT,AREA_REAL,DEFAULT_1,DIEPTE_MAX,DIEPTE_MIN,END,FID,FRQ_EXC_50,FRQ_INC_50,FRQ_SURV,...,TYPEOBJ,WBO_CONCL,WBO_DAGEN,WBO_FILE,WBO_GELDIG,WBO_M_DAT,WBO_R_DAT,X_LABEL,Y_LABEL,geometry
0,Taak,482618.0,1.0,8.0,7.5,20180417,None,4,2,6,...,vaarweg,Verspreidbaar,404,KRD15-8600-6024-RAP-013a_harlingen-terschellin...,43030.0,42299.0,42332.0,149590.0,579048.0,"POLYGON ((149442.7124357932 580249.0740603911,..."
1,Raamact.,130306.0,1.0,4.0,3.5,20180410,None,4,2,6,...,vaarweg,Verspreidbaar,401,DOM15-8600-6024-RAP-012a_den_oever-noordzee.pdf,43027.0,42296.0,42319.0,130187.0,552283.0,"POLYGON ((129625.932283378 552658.7841377998, ..."
2,Taak,228639.0,1.0,4.0,3.8,20180209,None,12,4,12,...,vaarweg,Verspreidbaar,403,KRD15-8600-6024-RAP-014a_holwerd-ameland.pdf,43029.0,42298.0,42325.0,185655.0,601008.0,"POLYGON ((185317.6546756364 601556.7232466646,..."
3,Taak,29065.0,1.0,4.0,3.8,20180209,None,12,4,12,...,vaarweg,Verspreidbaar,403,KRD15-8600-6024-RAP-014a_holwerd-ameland.pdf,43029.0,42298.0,42325.0,181012.0,604198.0,"POLYGON ((181240.1501464844 604087.0973510742,..."
4,Taak,38257.0,1.0,4.0,3.8,20180209,None,12,4,12,...,vaarweg,Verspreidbaar,403,KRD15-8600-6024-RAP-014a_holwerd-ameland.pdf,43029.0,42298.0,42298.0,180144.0,604998.0,"POLYGON ((180660.1662909701 605207.5438269211,..."

In [3]:
init_start = '20160101'
expiry_dat = '20180819'

In [4]:
# start is 20160101
df_bgv.loc[(df_bgv['ID_VDLEE'].str.contains('Boontjes, Vak') ==True) & ~(df_bgv['ID_VDLEE'] == 'Boontjes, Vak 1'), 'END'] = expiry_dat
#df_selection  = df_bgv[(df_bgv['ID_VDLEE'].str.contains('Boontjes, Vak') ==True) & ~(df_bgv['ID_VDLEE'] == 'Boontjes, Vak 1')]

In [5]:
#df_selection['END'] = init_start

In [6]:
#df_selection['END']

In [7]:
#df_bgv_merge = df_bgv.append([df_selection],ignore_index=True)

In [9]:
df_bgv[(df_bgv['ID_VDLEE'].str.contains('Boontjes, Vak') ==True)][['START','END', 'ID_VDLEE']]

        START       END          ID_VDLEE
10   20160101  20180820  Boontjes, Vak 11
12   20160101  20180820  Boontjes, Vak 15
13   20160101  20180820   Boontjes, Vak 1
14   20160101  20180820   Boontjes, Vak 2
15   20160101  20180820   Boontjes, Vak 4
16   20160101  20180820   Boontjes, Vak 5
17   20160101  20180820   Boontjes, Vak 6
18   20160101  20180820   Boontjes, Vak 7
19   20160101  20180820   Boontjes, Vak 8
20   20160101  20180820   Boontjes, Vak 9
21   20160101  20180820  Boontjes, Vak 10
22   20160101  20180820  Boontjes, Vak 12
23   20160101  20180820  Boontjes, Vak 13
24   20160101  20180820  Boontjes, Vak 14
25   20160101  20180820   Boontjes, Vak 3
135  20180820  21000101   Boontjes, Vak 1

In [11]:
df_bgv.to_file(r'D:\FEWSProjecten\OmsWaddenzee\trunk\fews\Config\MapLayerFiles\Baggervakken\Baggervakken_20180921_merged_boontjes.shp')