In [4]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mattijn/datasets/master/stations_discharge_day_of_year_8_stations.csv')
df.head()

         date         symbol  value
0  2000-Jan-1           koka   36.8
1  2000-Jan-1  awash station   33.9
2  2000-Jan-1        hombole    3.8
3  2000-Jan-1         keleta    1.3
4  2000-Jan-1       metahara   26.1