In [1]:
from rasterstats import zonal_stats
from osgeo import gdal
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import glob
from tqdm import tqdm
import os
import datetime
%matplotlib inline

In [2]:
shp_in = r'D:\Projects\RO\DataChallenge2018\shape\peilvakken_WRSL_neerslag_mmWGS84.shp'
png_out = r'D:\Projects\RO\DataChallenge2018\png_out\precip'

In [3]:
tifs_in_dir = r'D:\Projects\RO\DataChallenge2018\P\P'

In [4]:
gdf = gpd.read_file(shp_in)

In [5]:
gdf['ID'].values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149,  52, 150], dtype=int64)

In [6]:
tif_files = glob.glob(tifs_in_dir + '//*.tif')

In [7]:
os.path.basename(tif_files[0])[0:8]

'19700101'

In [16]:
# init datetime
df_in = pd.DataFrame(columns = gdf['ID'])
for tif_in in tqdm(tif_files):
    # get date from file
    # RADAR
    #date_in = os.path.basename(tif_in)[-19:-7]
    #date_format = datetime.datetime.strptime(date_in, '%Y%m%d%H%M')
    # Interpolated station data
    date_in = os.path.basename(tif_in)[0:8]
    date_format = datetime.datetime.strptime(date_in, '%Y%m%d')
    #print(date_format)
    # collect mean zonal stats
    stat_list = []
    stats = zonal_stats(shp_in, tif_in, stats=['mean'], all_touched=True)    
    for feature in stats:
        stat_list.append(feature['mean'])    
    
    gdf.loc[:,'agg_stat'] = stat_list
    gdf.loc[:,'agg_stat']# *= 0.01
    
#     # plot using matplotlib
#     cmap = mpl.cm.viridis_r#cool
#     norm = mpl.colors.Normalize(vmin=0, vmax=8)    
    
#     # save figure to file
#     fig = plt.figure()
#     plt.gca().set_aspect('equal')
#     ax = plt.gca()
#     feat = gdf.plot('agg_stat', vmin=0, vmax= 8, ax=ax, cmap=cmap, norm=norm, legend=True, )
#     plt.text(130500,425000,date_format.strftime('%d %B %Y - %H:%M'), size=8)
#     plt.savefig(os.path.join(png_out,'datum_{}.png'.format(date_format.strftime('%Y%m%d%H%M'))))    
#     plt.close(fig)
    
    df_in.loc[date_format,:] = gdf['agg_stat'].values

  0%|                                                | 0/16801 [00:00<?, ?it/s]c:\python35\lib\site-packages\rasterio\windows.py:483: RasterioDeprecationWarning: use 'width' attribute instead
  RasterioDeprecationWarning)
c:\python35\lib\site-packages\rasterstats\io.py:303: RasterioDeprecationWarning: use 'height' attribute instead
  self.band, window=win, boundless=True, masked=masked)
c:\python35\lib\site-packages\rasterstats\main.py:165: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  np.issubdtype(fsrc.array.dtype, float)
100%|██████████████████████████████████| 16801/16801 [3:19:04<00:00,  1.41it/s]

In [15]:
df_in.head()

ID,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,52,150
1970-01-01,0,0,0,0,0,0,0,0,0,0.049025,...,0.218513,0.132786,0,0,0,0.03922,0,0,0,0
1970-01-02,7.72069,7.40827,7.72034,6.97995,7.66304,7.58037,7.8899,8.02587,7.31545,7.31487,...,6.82801,6.65112,7.46221,7.4676,7.68208,7.47011,7.00734,6.58432,6.57213,7.40968
1970-01-03,0.618453,0.543242,0.47479,0.389135,0.375575,0.58833,0.402997,0.645396,0.584991,0.456914,...,0.642166,0.530801,0.350884,0.489185,0.479979,0.427684,0.367463,0.729274,0.729419,0.374553
1970-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1970-01-05,1.47538,1.15919,2.2919,2.79517,2.63762,1.285,2.22741,1.60111,1.06934,2.32964,...,1.95151,0.857498,2.80618,1.26626,2.28496,2.3715,2.88323,1.39741,1.32921,2.74217

In [17]:
df_in.to_csv(r'P:\RO\0815.10\Werkmap\Mattijn\neerslag//2018-05-04-agg_peilvakv.csv')

In [ ]:
gdf[['ID','agg_stat']].T

In [ ]:
stats = zonal_stats(shp_in, tif_in, stats=['mean'], all_touched=True)

In [ ]:
gdf.loc[:,'agg_stat'] = stat_list
gdf.loc[:,'agg_stat'] *= 0.01

In [ ]:

plt.figure()
plt.gca().set_aspect('equal')
ax = plt.gca()
feat = gdf.plot('agg_stat', vmin=0, vmax= 8, ax=ax, cmap=cmap, norm=norm, legend=True, )
plt.text(130500,425000,date_format.strftime('%d %B %Y - %H:%M'), size=8)
plt.savefig()