In [1]:
import pandas as pd

In [2]:
# # create some series
# s = pd.Series(data=pd.np.random.randint(0,100, size=(10)), 
#               index=pd.date_range(start='2018-03-01', periods=10, freq='D'),
#               name='value')
# s.plot()
# write pandas.DataFrame
df = pd.DataFrame(data=pd.np.random.randint(0, 100, size=(10,4)), 
                  index=pd.date_range(start='2018-03-01', periods=10, freq='D'),
                  columns=['value', 'flag', 'user', 'comment'])
df['flag'] = 0
#df['user'] = 'hoek'
df['comment'] = None

df.head()

            value  flag  user comment
2018-03-01     12     0    61    None
2018-03-02     21     0    96    None
2018-03-03     80     0    77    None
2018-03-04     13     0    16    None
2018-03-05     37     0     9    None

In [4]:
print(df.to_latex())

\begin{tabular}{lrrrl}
\toprule
{} &  value &  flag &  user & comment \\
\midrule
2018-03-01 &     12 &     0 &    61 &    None \\
2018-03-02 &     21 &     0 &    96 &    None \\
2018-03-03 &     80 &     0 &    77 &    None \\
2018-03-04 &     13 &     0 &    16 &    None \\
2018-03-05 &     37 &     0 &     9 &    None \\
2018-03-06 &      5 &     0 &    21 &    None \\
2018-03-07 &      2 &     0 &    17 &    None \\
2018-03-08 &     79 &     0 &    47 &    None \\
2018-03-09 &     29 &     0 &    91 &    None \\
2018-03-10 &      0 &     0 &    97 &    None \\
\bottomrule
\end{tabular}