In [2]:
import pandas as pd

In [2]:
md_bvken = r'D:\OmsWaddenzee\trunk\fews\Config\MapLayerFiles\Baggervakken//oppervlak_baggervakken.csv'

In [48]:
df = pd.read_csv(md_bvken)

In [49]:
df.head()

                    Objectnaam      Objectcode  Oppervlak
0  Den Helder - Texel, Vaarweg      bv.1.7.1.1  405058.00
1  Den Helder veerhaven, Vak A  bv.1.7.1.1.1.1   30092.00
2  Den Helder veerhaven, Vak B  bv.1.7.1.1.1.2    6338.00
3  Den Helder veerhaven, Vak C  bv.1.7.1.1.1.3    3860.12
4       Texel veerhaven, Vak A  bv.1.7.1.1.2.1    4919.88

In [6]:
vergunningen = r'D:\Projects\Pr\3317.20\Toeleveringen\Vergunningen_vdLee//Vergunningen_copy.xlsx'

In [10]:
df_xls = pd.read_excel(vergunningen, header=[0,1])

In [11]:
df_xls.head()

                    Unnamed: 0_level_0  \
Objectnr.                       Object
1               Grote zoute vaargeulen
1.7                          Waddenzee
1.7.1                         Marsdiep
1.7.1.1             Den Helder - Texel
1.7.1.1.A  Den Helder - Texel, Vaarweg

                                   Unnamed: 1_level_0  \
Objectnr. Taak / Raamactiviteit / Benoemde activiteit
1                                                 NaN
1.7                                               NaN
1.7.1                                             NaN
1.7.1.1                                           NaN
1.7.1.1.A                                    Raamact.

                                            WATERBODEMONDERZOEK               \
Objectnr. Komt in aanmerking voor Water met Korte Baggercyclus? Bestandsnaam
1                                                        NaN             NaN
1.7                                                      NaN             NaN
1.7.1                                                    NaN             NaN
1.7.1.1                                                  NaN             NaN
1.7.1.1.A                                                Nee               -

                                                                     \
Objectnr. Referentie Conclusie laatste bodemonderzoek Datum rapport
1                NaN                              NaN           NaN
1.7              NaN                              NaN           NaN
1.7.1            NaN                              NaN           NaN
1.7.1.1          NaN                              NaN           NaN
1.7.1.1.A          -                                -             -

                                     \
Objectnr. Datum laatste monstername
1                               NaN
1.7                             NaN
1.7.1                           NaN
1.7.1.1                         NaN
1.7.1.1.A                         -

                                                            \
Objectnr. Geldig tot\n\nDatum laatste monstername + 2 jaar
1                                                      NaN
1.7                                                    NaN
1.7.1                                                  NaN
1.7.1.1                                                NaN
1.7.1.1.A                                                -

                                            ...             Bbk-MELDINGEN  \
Objectnr. Aantal dagen nog geldig           ...           Datum ingediend
1                             NaN           ...                       NaN
1.7                           NaN           ...                       NaN
1.7.1                         NaN           ...                       NaN
1.7.1.1                       NaN           ...                       NaN
1.7.1.1.A                       -           ...                       NaN

                                                               \
Objectnr. Datum toestemming\n\nDatum ingediend\n+ 5 werkdagen
1                                                        NaN
1.7                                                      NaN
1.7.1                                                    NaN
1.7.1.1                                                  NaN
1.7.1.1.A                                                NaN

                                                                            \
Objectnr. Geldig tot\n\nDatum toestemming + 1 jaar Aantal dagen nog geldig
1                                              NaN                     NaN
1.7                                            NaN                     NaN
1.7.1                                          NaN                     NaN
1.7.1.1                                        NaN                     NaN
1.7.1.1.A                                      NaN                     NaN

           Blbi-MELDINGEN                                               \
Objectnr. Document-nummer Correspon-dentie nummer IL&T Datum ingediend
1                     NaN                          NaN             NaN
1.7                   NaN                          NaN             NaN
1.7.1                 NaN                          NaN             NaN
1.7.1.1               NaN                          NaN             NaN
1.7.1.1.A             NaN                          NaN             NaN

                                                                \
Objectnr. Datum toestemming\n\nDatum ingediend\n+ 20 werkdagen
1                                                        NaN
1.7                                                      NaN
1.7.1                                                    NaN
1.7.1.1                                                  NaN
1.7.1.1.A                                                NaN


Objectnr. Geldig tot\n\nDatum toestemming + 1 jaar Aantal dagen nog geldig
1                                              NaN                     NaN
1.7                                            NaN                     NaN
1.7.1                                          NaN                     NaN
1.7.1.1                                        NaN                     NaN
1.7.1.1.A                                      NaN                     NaN

[5 rows x 23 columns]

In [41]:
#df1 = df_xls.T
sel = df_xls.xs(['Unnamed: 0_level_0','Unnamed: 1_level_0'], axis=1).reset_index()

In [57]:
sel_new = pd.concat([sel['Unnamed: 0_level_0']['Object'],sel['Unnamed: 1_level_0']['Taak / Raamactiviteit / Benoemde activiteit']], axis=1)

In [60]:
df_join = pd.merge(df, sel_new, left_on='Objectnaam', right_on='Object')

In [65]:
df_join_sel = df_join[['Objectnaam',
                       'Objectcode',
                       'Oppervlak',
                       'Taak / Raamactiviteit / Benoemde activiteit'
                      ]]

In [67]:
csv_out = r'D:\OmsWaddenzee\trunk\fews\Config\MapLayerFiles\Baggervakken//oppervlak_baggervakken_v2.csv'
df_join_sel.to_csv(csv_out, index=False)

In [70]:
#location on drive
csv_in = r'D:\OmsWaddenzee\trunk\fews\Modules\prioriteringExport\data//prioritering_ruw.csv'
csv_out = r'D:\OmsWaddenzee\trunk\fews\Modules\prioriteringExport\data//prioritering_refined.csv'
area = r'D:\OmsWaddenzee\trunk\fews\Config\MapLayerFiles\Baggervakken//oppervlak_baggervakken_v2.csv'

# read into dataframe
df_csv = pd.read_csv(csv_in, sep=';')
df_area = pd.read_csv(area)

# join dataframes on objectcode
df_comb = pd.merge(df_csv, df_area, left_on='Baggervak', right_on='Objectcode')

# calculate the prioritering
df_comb['Percentage cut tov NGD'] = (df_comb['Oppervlakte cut tov NGD'] / df_comb['Oppervlak'] * 100).round(2)
df_comb['Percentage cut tov OHD'] = (df_comb['Oppervlakte cut tov OHD'] / df_comb['Oppervlak'] * 100).round(2)

In [74]:
# reorder columns 
c = df_comb.columns.tolist()
c_selection = [c[0],c[11],c[10],c[13],c[14],c[15],c[6],c[7],c[2],c[3],c[8],c[9],c[4],c[5],c[12]]

In [75]:
c

['Datum',
 'Baggervak',
 'Volume cut tov NGD',
 'Volume cut tov OHD',
 'Volume fill tov NGD',
 'Volume fill tov OHD',
 'Oppervlakte cut tov NGD',
 'Oppervlakte cut tov OHD',
 'Oppervlakte fill tov NGD',
 'Oppervlakte fill tov OHD',
 'Objectnaam',
 'Objectcode',
 'Oppervlak',
 'Activiteit',
 'Percentage cut tov NGD',
 'Percentage cut tov OHD']

In [76]:
c_selection

['Datum',
 'Objectcode',
 'Objectnaam',
 'Activiteit',
 'Percentage cut tov NGD',
 'Percentage cut tov OHD',
 'Oppervlakte cut tov NGD',
 'Oppervlakte cut tov OHD',
 'Volume cut tov NGD',
 'Volume cut tov OHD',
 'Oppervlakte fill tov NGD',
 'Oppervlakte fill tov OHD',
 'Volume fill tov NGD',
 'Volume fill tov OHD',
 'Oppervlak']

In [36]:
file_in = r'D:\Projects\Pr\3317.20\vergunningenUpload\validatie//FTP_Waterbodemonderzoeken Bbk-meldingen en Blbi-meldingen.xlsm'

In [37]:
df = pd.read_excel(file_in).sort_values(by='Objectnr.')

In [38]:
df.dropna(how='all', inplace=True)

In [39]:
for idx,item in enumerate(df['Aantal dagen Blbi nog geldig']):
    try:
        df['Aantal dagen Blbi nog geldig'].ix[idx] = (df['Blbi-melding geldig tot'].ix[idx] - datetime.today()).days + 1
    except:
        continue

for idx,item in enumerate(df['Aantal dagen Bbk nog geldig']):
    try:
        df['Aantal dagen Bbk nog geldig'].ix[idx] = (df['Bbk-melding geldig tot'].ix[idx] - datetime.today()).days + 1
    except:
        continue

for idx,item in enumerate(df['Aantal dagen wbo nog geldig']):
    try:
        df['Aantal dagen wbo nog geldig'].ix[idx] = (df['Wbo geldig tot'].ix[idx] - datetime.today()).days + 1
    except:
        continue

c:\python35\lib\site-packages\pandas\core\indexing.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [43]:
(df['Blbi-melding geldig tot'].ix[1] - datetime.today()).days

226

In [44]:
df['Aantal dagen wbo nog geldig'].head()

1    403
2    403
3    403
4    403
5    403
Name: Aantal dagen wbo nog geldig, dtype: object