In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\hoek.HKV\Desktop\herberekeningDebieten.csv")
idx = df.groupby(['locid'])['enddate'].transform(max) == df['enddate']
df[idx]['enddate'].unique()

In [3]:
df.head()

,locid,startdate,enddate,totaal_plus,totaal_min,formule,keuze formule,commentaar,breedte,cc,...,temperatuur,timeout communicatie,vulpunt,wandruwheid,waterstand,waterstand derde beam,waterstand extern,xi extra,xi intree,xi uittree
0,KW100111,19700101,21000101,NaN,NaN,Debiet Vijzel,NaN,NaN,NaN,NaN,...,NaN,NaN,-4.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KW100121,19700101,21000101,NaN,NaN,Debiet Kantelstuw,1.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KW100211,19700101,21000101,NaN,NaN,Debiet Vijzel,NaN,NaN,NaN,NaN,...,NaN,NaN,-4.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KW100311,19700101,21000101,KW100313,NaN,Debiet Vijzel,NaN,NaN,NaN,NaN,...,NaN,NaN,-4.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KW100411,19700101,20190501,KW100413,NaN,Debiet Vijzel,NaN,NaN,NaN,NaN,...,NaN,NaN,-3.999,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
idx = df.groupby(['locid'])['enddate'].transform(max) == df['enddate']
df[idx]['enddate'].unique()

array([21000101, 20190619], dtype=int64)