In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame(index=[0,1,2],columns=['x', 'y', 'value'])

In [8]:
df

     x    y value
0  NaN  NaN   NaN
1  NaN  NaN   NaN
2  NaN  NaN   NaN

In [5]:
df.loc[['m','n']] = int(4)

In [6]:
df

   m  n  h
m  4  4  4
n  4  4  4

In [ ]:
df['']