In [1]:
import pandas as pd
import hkvfewspy

## Import CSV as DataFrame and show the DateTimeIndex

In [2]:
csv_in = r"D:\Projects\Pr\3916.10\Werkmap\csv_fractional_seconds.csv"
df = pd.read_csv(csv_in, index_col=0, parse_dates=True)
df.head()

                         value
2019-02-15 09:00:11.250  -1.68
2019-02-15 09:00:11.500  -1.63
2019-02-15 09:00:11.750  -1.73
2019-02-15 09:00:12.000  -1.78
2019-02-15 09:00:12.250  -1.78

In [3]:
df.index[0:5]

DatetimeIndex(['2019-02-15 09:00:11.250000', '2019-02-15 09:00:11.500000',
               '2019-02-15 09:00:11.750000',        '2019-02-15 09:00:12',
               '2019-02-15 09:00:12.250000'],
              dtype='datetime64[ns]', freq=None)

## Convert to PiXML object

In [4]:
pi = hkvfewspy.Pi() 

# create pi-timeseries object
pi_ts = pi.setPiTimeSeries()

# set a header object
pi_ts.write.header.moduleInstanceId('ruw_ongevalideerd_STB')
pi_ts.write.header.locationId('FL65')
pi_ts.write.header.parameterId('H.w.0')
pi_ts.write.header.missVal(-9999)

# set an events object (pandas.Series or pandas.DataFrame)
pi_ts.write.events(df)
pi_ts_xml = pi_ts.to.pi_xml()

In [5]:
print(pi_ts_xml)

<?xml version="1.0" ?>
<TimeSeries version="1.22" xmlns="http://www.wldelft.nl/fews/PI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews/PI http://fews.wldelft.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd">
  <timeZone>0.0</timeZone>
  <series>
    <header>
      <type>instantaneous</type>
      <moduleInstanceId>ruw_ongevalideerd_STB</moduleInstanceId>
      <locationId>FL65</locationId>
      <parameterId>H.w.0</parameterId>
      <missVal>-9999</missVal>
    </header>
    <properties/>
    <event date="2019-02-15" time="09:00:11.250" value="-1.6800000000000002"/>
    <event date="2019-02-15" time="09:00:11.500" value="-1.63"/>
    <event date="2019-02-15" time="09:00:11.750" value="-1.73"/>
    <event date="2019-02-15" time="09:00:12.000" value="-1.78"/>
    <event date="2019-02-15" time="09:00:12.250" value="-1.78"/>
    <event date="2019-02-15" time="09:00:12.500" value="-1.78"/>
    <event date="2019-02-15" time="09:00:12.750" value="-1.73"/>
    <event date="2019-02-15" time="09:00:13.000" value="-1.73"/>
    <event date="2019-02-15" time="09:00:13.250" value="-1.73"/>
    <event date="2019-02-15" time="09:00:13.500" value="-1.6800000000000002"/>
    <event date="2019-02-15" time="09:00:13.750" value="-1.73"/>
    <event date="2019-02-15" time="09:00:14.000" value="-1.73"/>
    <event date="2019-02-15" time="09:00:14.250" value="-1.73"/>
    <event date="2019-02-15" time="09:00:14.500" value="-1.78"/>
    <event date="2019-02-15" time="09:00:14.750" value="-1.78"/>
    <event date="2019-02-15" time="09:00:15.000" value="-1.78"/>
    <event date="2019-02-15" time="09:00:15.250" value="-1.73"/>
  </series>
</TimeSeries>

In [6]:
xml_out = r"D:\Projects\Pr\3916.10\Werkmap\xml_fractional_seconds.xml"
with open(xml_out, "w") as text_file:
    print(pi_ts_xml, file=text_file)

## Connect to FewsPiService and push the PiXML into FEWS

In [7]:
pi.setClient(wsdl='https://db.dmhoutribdijk.nl/FewsWebServices/fewspiservice?wsdl')

pi.putTimeSeriesForFilter(
   filterId='f_ruw_ongevalideerd.STB', 
   piTimeSeriesXmlContent=pi_ts_xml
)

External time series successfully mapped to FEWS time series FL65 H.w.0   nonequidistant
1 time series imported, 0 time series rejected
The following locations-parameter combination imported  FL65:H.w.0

## Check the result by querying the FEWSPiService

In [8]:
query = pi.setQueryParameters(prefill_defaults=True)

In [9]:
query.parameterIds(['H.w.0'])
query.moduleInstanceIds(['ruw_ongevalideerd_STB'])
query.locationIds(['FL65'])
query.startTime(pd.datetime(2019,2,15,9,0,11,250)) 
query.endTime(pd.datetime(2019,2,15,9,0, 15,250))

In [10]:
query.query

{'clientTimeZone': 'Etc/GMT',
 'convertDatum': False,
 'forecastSearchCount': 0,
 'importFromExternalDataSource': False,
 'omitMissing': False,
 'onlyHeaders': False,
 'onlyManualEdits': False,
 'showEnsembleMemberIds': False,
 'showLocationAttributes': False,
 'showStatistics': False,
 'showThresholds': False,
 'useDisplayUnits': True,
 'version': '1.22',
 'parameterIds': ['H.w.0'],
 'moduleInstanceIds': ['ruw_ongevalideerd_STB'],
 'locationIds': ['FL65'],
 'startTime': datetime.datetime(2019, 2, 15, 9, 0, 11, 250),
 'endTime': datetime.datetime(2019, 2, 15, 9, 0, 15, 250)}

In [11]:
df_get = pi.getTimeSeries(queryParameters=query, print_response=True)

<?xml version="1.0" encoding="UTF-8"?>
<TimeSeries xmlns="http://www.wldelft.nl/fews/PI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.wldelft.nl/fews/PI http://fews.wldelft.nl/schemas/version1.0/pi-schemas/pi_timeseries.xsd" version="1.22" xmlns:fs="http://www.wldelft.nl/fews/fs">
    <timeZone>0.0</timeZone>
    <series>
        <header>
            <type>instantaneous</type>
            <moduleInstanceId>ruw_ongevalideerd_STB</moduleInstanceId>
            <locationId>FL65</locationId>
            <parameterId>H.w.0</parameterId>
            <timeStep unit="nonequidistant"/>
            <startDate date="2019-02-15" time="09:00:11"/>
            <endDate date="2019-02-15" time="09:00:15"/>
            <missVal>-999.0</missVal>
            <stationName>FL65 Marker Wadden Zuiderstrand</stationName>
            <lat>52.57262694703878</lat>
            <lon>5.37282288109573</lon>
            <x>154025.0</x>
            <y>509448.0</y>
            <units>mNAP</units>
        </header>
        <event date="2019-02-15" time="09:00:11" value="-1.73" flag="0"/>
        <event date="2019-02-15" time="09:00:12" value="-1.73" flag="0"/>
        <event date="2019-02-15" time="09:00:13" value="-1.73" flag="0"/>
        <event date="2019-02-15" time="09:00:14" value="-1.78" flag="0"/>
        <event date="2019-02-15" time="09:00:15" value="-1.73" flag="0"/>
    </series>
</TimeSeries>

In [12]:
df_get.head()

,moduleInstanceId,qualifierId,parameterId,units,locationId,stationName,flag,value
date,,,,,,,,
2019-02-15 09:00:11+00:00,ruw_ongevalideerd_STB,,H.w.0,mNAP,FL65,FL65 Marker Wadden Zuiderstrand,0,-1.73
2019-02-15 09:00:12+00:00,ruw_ongevalideerd_STB,,H.w.0,mNAP,FL65,FL65 Marker Wadden Zuiderstrand,0,-1.73
2019-02-15 09:00:13+00:00,ruw_ongevalideerd_STB,,H.w.0,mNAP,FL65,FL65 Marker Wadden Zuiderstrand,0,-1.73
2019-02-15 09:00:14+00:00,ruw_ongevalideerd_STB,,H.w.0,mNAP,FL65,FL65 Marker Wadden Zuiderstrand,0,-1.78
2019-02-15 09:00:15+00:00,ruw_ongevalideerd_STB,,H.w.0,mNAP,FL65,FL65 Marker Wadden Zuiderstrand,0,-1.73

In [13]:
df_get.index

DatetimeIndex(['2019-02-15 09:00:11+00:00', '2019-02-15 09:00:12+00:00',
               '2019-02-15 09:00:13+00:00', '2019-02-15 09:00:14+00:00',
               '2019-02-15 09:00:15+00:00'],
              dtype='datetime64[ns, Etc/GMT]', name='date', freq=None)