In [1]:
import pandas as pd
import os, time

In [2]:
init_file = r"C:\Users\hoek.HKV\Desktop\FTP_reizen_handmatig.xlsm"

In [3]:
df = pd.read_excel(init_file, skiprows=1)
df.drop(df.columns[[11,12,14,15]], axis=1, inplace=True)
df.dropna(how='all', inplace=True)
df[['tripid', 'week', 'trip_duration_bruto_secs' ]] = df[['tripid', 'week', 'trip_duration_bruto_secs' ]].astype(int)

In [4]:
df.head()

,projectname,contractnumber,parcelnumber,shipname,tripid,tripnumber,triptype,tripstatus,loadinglocations,dumpinglocations,...,trip_durdelays_secs,trip_durdelays_dtts,lv_startts,ls_endts,duration_lv,duration_trld,duration_ld,duration_vv,duration_trls,duration_ls
0,Waddenzee,31107688.0,NaN,Ameland,1,NaN,Verspreiden,NaN,Holwerd - VA25,Zuiderspruit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Waddenzee,31107688.0,NaN,Ameland,2,NaN,Agiteren,NaN,Holwerd - VA25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Waddenzee,31107688.0,NaN,Ameland,3,NaN,Agiteren,NaN,Holwerd - VA25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Waddenzee,31107688.0,NaN,Ameland,4,NaN,Agiteren,NaN,Holwerd - VA25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Waddenzee,31107688.0,NaN,Ameland,5,NaN,Agiteren,NaN,Holwerd - VA25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['projectname', 'contractnumber', 'parcelnumber', 'shipname', 'tripid',
       'tripnumber', 'triptype', 'tripstatus', 'loadinglocations',
       'dumpinglocations', 'week', 'trip_startts_dt', 'trip_endts_dt',
       'trip_duration_bruto_secs', 'trip_duration_bruto_dt',
       'trip_massemptyship_ton', 'trip_massfullship_ton',
       'trip_massemptyship_corrected_ton', 'soundingvolume',
       'hoppervolumeloss', 'hoppervolume', 'hoppervolumelossperc',
       'hvl_reductionperc', 'triptds', 'triptds_calc', 'tripm3', 'tripm3_calc',
       'hoppervolumem3bu', 'trip_m3bu_bruto', 'trip_m3bu_bruto_calc',
       'trip_nrofdelays', 'trip_durdelays_secs', 'trip_durdelays_dtts',
       'lv_startts', 'ls_endts', 'duration_lv', 'duration_trld', 'duration_ld',
       'duration_vv', 'duration_trls', 'duration_ls'],
      dtype='object')

In [6]:
base, extension = os.path.splitext(init_file)

In [7]:
interimFolder = r"C:\Users\hoek.HKV\Desktop"

In [8]:
init_file = r"C:\Users\hoek.HKV\Desktop\FTP_reizen_handmatig_20190424154221.xlsm"
ts = time.strftime("%Y%m%d%H%M%S")            
interim_file = os.path.join( os.path.abspath(interimFolder), base + '_' + ts + '.csv' )

In [9]:
interim_file

'C:\\Users\\hoek.HKV\\Desktop\\FTP_reizen_handmatig_20190702171746.csv'

In [10]:
df.to_csv(interim_file, index=False, sep=';')