In [1]:
# Import the Earth Engine library.
import ee

# Trigger the authentication flow.
ee.Authenticate()

Enter verification code:  4/rQHeEYGdL0nVuhZCnBie300_axFidI6v351-U2FFS6aRM0PPnUPKTRw

Successfully saved authorization token.

In [2]:
ee.Initialize()

In [3]:
LS5 = ee.ImageCollection('LANDSAT/LT05/C01/T1_TOA');
row48 = LS5.filter(ee.Filter.eq('WRS_PATH', 133)).filter(ee.Filter.eq('WRS_ROW', 48))

In [15]:
funcrow48 = row48.toList(row48.size())

In [17]:
list_row48 = funcrow48.getInfo()

In [34]:
list_row48[0].keys()

dict_keys(['type', 'bands', 'version', 'id', 'properties'])

In [20]:
list_row48[0].keys()

dict_keys(['type', 'bands', 'version', 'id', 'properties'])

In [35]:
list_row48[0]['id']

'LANDSAT/LT05/C01/T1_TOA/LT05_133048_19871205'

In [36]:
list_row48[0]['properties']['DATE_ACQUIRED']

'1987-12-05'

In [26]:
ll = []
for img in list_row48:
    ll.append({'id': img['id'], 'date': img['properties']['DATE_ACQUIRED']})

In [38]:
ll[0:5]

[{'id': 'LANDSAT/LT05/C01/T1_TOA/LT05_133048_19871205', 'date': '1987-12-05'},
 {'id': 'LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880106', 'date': '1988-01-06'},
 {'id': 'LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880207', 'date': '1988-02-07'},
 {'id': 'LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880223', 'date': '1988-02-23'},
 {'id': 'LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880411', 'date': '1988-04-11'}]

In [28]:
import pandas as pd

In [29]:
df = pd.DataFrame().from_dict(ll)

In [30]:
df.head()

         date                                            id
0  1987-12-05  LANDSAT/LT05/C01/T1_TOA/LT05_133048_19871205
1  1988-01-06  LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880106
2  1988-02-07  LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880207
3  1988-02-23  LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880223
4  1988-04-11  LANDSAT/LT05/C01/T1_TOA/LT05_133048_19880411