In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://postgres:pass@localhost/gisdb')

In [18]:
path_ = r'D:\Projects\Pr\3317.20\Toeleveringen\MARS//mette-maria.reizen.dredging.data.20161111.csv'

In [19]:
df = pd.read_csv(path_, sep=';')

In [20]:
df.to_sql('pandas_db', engine)

In [21]:
df.head()

,projectName,contractNumber,parcelNumber,shipName,tripId,tripNumber,tripType,tripCheckType,tripStatus,loadingLocations,...,dredgeSessionType,dredgeSessionLocation,dredgeSessionStartDt,dredgeSessionEndDt,dredgeSessionDuration,dredgeSessionMassEmptyShip,dredgeSessionMassFullShip,dredgeSessionTotalHopperVolume,dredgeSessionTDS,dredgeSessionM3
0,Onderhoud 2014-2017,311.07.688,F - Waddenzee,Mette-Maria,21909,1,NORMAL,TRIP,INTERRUPTED,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Onderhoud 2014-2017,311.07.688,F - Waddenzee,Mette-Maria,21906,0,SYSTEM_CHECK,TLS,COMPLETED,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Onderhoud 2014-2017,311.07.688,F - Waddenzee,Mette-Maria,21910,0,SYSTEM_CHECK,WATERTRIP,COMPLETED,NaN,...,DUMPING,"WDZ Harlingen-Noordzee,Pollendam",28-9-2016 16:15,28-9-2016 16:17,0:02:25,1029.683,NaN,NaN,NaN,NaN
3,Onderhoud 2014-2017,311.07.688,F - Waddenzee,Mette-Maria,21911,0,SYSTEM_CHECK,WATERTRIP,COMPLETED,NaN,...,DUMPING,zout,28-9-2016 20:15,28-9-2016 20:30,0:15:05,1030.433,NaN,NaN,NaN,NaN
4,Onderhoud 2014-2017,311.07.688,F - Waddenzee,Mette-Maria,21911,0,SYSTEM_CHECK,WATERTRIP,COMPLETED,NaN,...,DUMPING,zout,28-9-2016 20:49,28-9-2016 20:52,0:02:15,1031.847,NaN,NaN,NaN,NaN