In [2]:
import pandas as pd

In [39]:
def to_xml(df, filename=None, mode='w'):
    def row_to_xml(row):
        xml = []
        xml.append('<tableRecord discharge="{0}" stage="{1}"/>'.format(row.iloc[0], row.iloc[1]))
        return '\n'.join(xml)
    res = '\n'.join(df.apply(row_to_xml, axis=1))

    if filename is None:
        return res
    with open(filename, mode) as f:
        f.write(res)

pd.DataFrame.to_xml = to_xml

In [43]:
df = pd.read_excel(r'D:\2702.10\RatingCurves/nabogo.xlsx')
df.head()

          Q  H-a       H
0  -2.31620  2.0  103.84
1   6.44875  2.5  104.34
2  17.69250  3.0  104.84
3  31.41505  3.5  105.34
4  47.61640  4.0  105.84

In [42]:
df.ix[:,['Q','H']].to_xml(r'D:\2702.10\RatingCurves\nabogo.xml')

'<tableRecord discharge="-2.3162" stage="103.84"/>'