In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
#import seaborn as sns
%matplotlib inline
#sns.set(style="white", palette="BuGn_d")

In [2]:
excel_in = r'D:\Projects\Pr\3444.10//dag_debieten_Brommelen_Munstergeleen_oudRoosteren.xlsx'

In [3]:
ds_br = pd.read_excel(excel_in, sheetname='Brommelen')#, index_col = 'TIJD')
ds_mg = pd.read_excel(excel_in, sheetname='Munstergeleen')#, index_col = 'TIJD')
ds_or = pd.read_excel(excel_in, sheetname='Oud_Roosteren')#, index_col = 'TIJD')

In [4]:
ds_br.TIJD = pd.to_datetime(ds_br['TIJD'], format='%Y-%M-%D')
ds_br.set_index(['TIJD'],inplace=True)

ds_mg.TIJD = pd.to_datetime(ds_mg['TIJD'], format='%Y-%M-%D')
ds_mg.set_index(['TIJD'],inplace=True)

ds_or.TIJD = pd.to_datetime(ds_or['TIJD'], format='%Y-%M-%D')
ds_or.set_index(['TIJD'],inplace=True)

In [5]:
# plt.plot(ds_br.index,ds_br['Q.max (m3/s)'])
# plt.show()

# plt.plot(ds_mg.index,ds_mg['Q.max (m3/s)'])
# plt.show()

# plt.plot(ds_or.index,ds_or['Q.max (m3/s)'])
# plt.show()

In [6]:
ds_br_yr = ds_br.groupby(ds_br.index.year).max()
ds_br_yr.reset_index(inplace=True)
ds_br_yr.rename(columns = {'index':'TIJD', 'Q.max (m3/s)':'Brommelen'}, inplace = True)
ds_br_yr.TIJD = pd.to_datetime(ds_br_yr['TIJD'], format='%Y')
ds_br_yr.set_index('TIJD', inplace=True)

ds_mg_yr = ds_mg.groupby(ds_mg.index.year).max()
ds_mg_yr.reset_index(inplace=True)
ds_mg_yr.rename(columns = {'index':'TIJD', 'Q.max (m3/s)':'Munstergeleen'}, inplace = True)
ds_mg_yr.TIJD = pd.to_datetime(ds_mg_yr['TIJD'], format='%Y')
ds_mg_yr.set_index('TIJD', inplace=True)

ds_or_yr = ds_or.groupby(ds_or.index.year).max()
ds_or_yr.reset_index(inplace=True)
ds_or_yr.rename(columns = {'index':'TIJD', 'Q.max (m3/s)':'Oud-Roosteren'}, inplace = True)
ds_or_yr.TIJD = pd.to_datetime(ds_or_yr['TIJD'], format='%Y')
ds_or_yr.set_index('TIJD', inplace=True)

In [7]:
ds_comb = pd.concat([ds_br_yr, ds_mg_yr, ds_or_yr], axis=1)
ds_comb.index = ds_comb.index.format(formatter=lambda x: int(x.strftime('%Y')))
ds_comb.head()

      Brommelen  Munstergeleen  Oud-Roosteren
1971        NaN            NaN         18.185
1972        NaN            NaN         20.981
1973        NaN            NaN         12.964
1974        NaN            NaN         22.644
1975        NaN            NaN         22.644

In [8]:
ds_comb.to_excel(r'D:\Projects\Pr\3444.10//jaar_debieten_Brommelen_Munstergeleen_oudRoosteren.xlsx')

In [ ]:
ax = ds_brm_yr.plot(kind='bar')
xtl=[item.get_text()[:4] for item in ax.get_xticklabels()]
_=ax.set_xticklabels(xtl)

In [ ]:
fig, ax = plt.subplots(figsize=(14, 6))
ax = ds_brm_yr.plot(kind='line', ax =ax)
# xtl=[item.get_text()[:4] for item in ax.get_xticklabels()]
# _=ax.set_xticklabels(xtl)
#ax.get_xaxis().set_minor_formatter(mdates.DateFormatter('%Y'))
ax.set_title('Q.max / jaar te Brommelen')
ax.set_ylabel('Q.max (m3/s)')
ax.set_xlabel('')
plt.savefig(r'D:\Projects\Pr\3444.10\png//QmaxJaar_line_Brommelen.png', dpi=400)
plt.show()