In [1]:
import requests
import pandas as pd
from geopandas import GeoDataFrame
from shapely.geometry import Point
import json
import altair as alt
alt.data_transformers.enable('data_server')
%matplotlib inline

In [30]:
obj_ids = [0, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]
token_id = 'aXaC0n3zHbb9YtKgKLbzM8soUB3P7MgajAc3z5OvGTR3UHGTwU3klPAX2iLGQ-GF'
df_list = []
for obj_id in obj_ids:
    url = f'https://geoservices.rijkswaterstaat.nl/agspe/rest/services/WVL/MN_Waterplantenbedekking_2/MapServer/6/query?token={token_id}&f=json&where=OBJECTID%20%3E%20{obj_id}&returnGeometry=true&spatialRel=esriSpatialRelIntersects&outFields=*'
    #url = f'https://geoservices.rijkswaterstaat.nl/agspe/rest/services/WVL/MN_Waterplantenbedekking_2/MapServer/3/query?token=aXaC0n3zHbb9YtKgKLbzM1NSLajwIkdwkwrRhyVrO149A3_yOZONODhwi4Lgx1mK&f=json&where=OBJECTID%2{obj_id}%3E%200&returnGeometry=true&spatialRel=esriSpatialRelIntersects&outFields=*'
    r = requests.get(url)
    j = r.json()
    
    newlist = []
    for f in j['features']:
        newdict = {}
        newdict.update(f['attributes'])
        newdict.update(f['geometry'])
        newlist.append(newdict)    
        
    df = pd.DataFrame().from_dict(newlist)        
    df_list.append(df)

In [31]:
df_comb = pd.concat(df_list)
df_comb.head()

   OBJECTID    TB  TB_class ID_GEBIED Beschrijving         x         y
0         1   0.0         0       K17       IJmeer  137900.0  481900.0
1         2   0.0         0       K17       IJmeer  137900.0  482100.0
2         3  30.0         5       K17       IJmeer  137499.5  482100.1
3         4   1.0         1       K17       IJmeer  137306.6  482127.3
4         5   1.0         1       K17       IJmeer  137679.0  482149.9

In [32]:
geometry = [Point(xy) for xy in zip(df_comb.x, df_comb.y)]
crs = {'init': 'epsg:28992'}
gdf = GeoDataFrame(df_comb, crs=crs, geometry=geometry)

In [33]:
gdf_wgs = gdf.to_crs(epsg=4326)

In [34]:
xx = []
for row in gdf_wgs.iterrows():
    x = row
    x[1].x = x[1].geometry.x
    x[1].y = x[1].geometry.y
    xx.append(x[1])

In [35]:
df_wgs = pd.DataFrame(xx)

In [36]:
df_wgs.to_csv('totaal_waterplant_2013.csv', index=False)

In [24]:
?z

Type:        Series
String form:
OBJECTID                                               3880
           TB                                    <...>       522699
           geometry        POINT (5.279227369750813 52.69166545052698)
           Name: 879, dtype: object
Length:      8
File:        c:\programdata\miniconda3\lib\site-packages\pandas\core\series.py
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series.

    .. versionchanged :: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
    sequence are used, the index will override the keys found in the
    dict.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
copy : bool, default False
    Copy input data.

In [ ]:
gdf.to_file(r'D:\jupyter notebooks\4050.10 MIJ-Brein//2016_totale_bedekk')

In [6]:
gdf.head()

,OBJECTID,TB,TB_class,ID_GEBIED,Beschrijving,x,y,geometry
0,1,30.0,5,K17,IJmeer,137365.8,482077.0,POINT (137365.8000000007 482077)
1,2,70.0,6,K17,IJmeer,137493.1,482100.7,POINT (137493.1000000015 482100.6999999993)
2,3,10.0,3,K17,IJmeer,137669.9,482180.9,POINT (137669.8999999985 482180.8999999985)
3,4,0.0,0,K17,IJmeer,137700.0,482293.0,POINT (137700 482293)
4,5,40.0,5,K17,IJmeer,137155.6,482297.2,POINT (137155.6000000015 482297.1999999993)

In [37]:
alt.Chart(gdf_wgs).mark_geoshape().encode(color='ID_GEBIED')#.project(type='identity', reflectY=True)

alt.Chart(...)

In [38]:
alt.Chart(gdf_wgs).mark_geoshape().encode(color='TB_class')#.project(type='identity', reflectY=True)

alt.Chart(...)